@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-all;
  font-feature-settings: 'tnum';
}

::selection {
  @apply !text-basalt;
}

a:hover {
  @apply !underline !decoration-inherit;
}

svg {
  @apply inline-block;
}

.p {
  @apply px-3 md:px-6;
}

.-p {
  @apply p -mx-3 md:-mx-6;
}

.bar {
  @apply flex justify-between items-center;
}

.center {
  @apply !absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2;
}

.stick {
  @apply sticky top-0 lg:top-[46px] z-20 h-max;
}

.bling {
  @apply border-2 border-transparent focus:border-genius hover:bg-neutral-800 rounded-lg outline-none;
}

.gradient::before {
  content: '';
  @apply absolute z-[-1] top-0 left-0 right-0 bottom-0 backdrop-blur-lg bg-gradient-to-b from-carbon to-transparent;
  mask: linear-gradient(#000 80%, transparent);
}

.font-condensed {
  font-stretch: extra-condensed;
}

.font-expanded {
  font-stretch: extra-expanded;
}

.ss01 {
  font-feature-settings: 'ss01';
}
